@tailwind base;
@tailwind components;
@tailwind utilities;

.logo-text {
    top: 50px;
    left: 30px;
}

.login-image {
    width: 510px;
}

.logo {
    /* height: 50px;  */
    cursor: pointer;
}

.logo-title {
    cursor: pointer;
    font-weight: bold;
    color: #5DB487;
}

.search-bar-container {
    position: absolute;
    top: 0;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px 0;
}
  
.search-input {
    width: 60%;
    max-width: 400px;
    padding: 10px 20px;
    border: 2px solid #ccc;
    border-radius: 30px;
    outline: none;
    transition: border-color 0.3s, box-shadow 0.3s;
}

@media screen and (max-width: 768px) {
    .search-input {
        width: 80%;
    }
    
}

.search-input:focus {
    border-color: #5DB487;
}

.search-icon {
    margin-left: -40px;
    color: #5db487;
    cursor: pointer;
    font-size: 30px;
}

.hamburger-menu { 
    font-size: 24px;
    cursor: pointer;
    color: #5db487;
    z-index: 9999;
}

.sidebar {
    position: fixed;
    top: 0;
    right: -250px;
    width: 150px;
    height: 100%;
    background-color: #f5f5f5;
    padding-top: 70px; 
    z-index: 1;
    box-shadow: 0 4px 6px #9c9c9c;
}

.sidebar.open {
    right: 0;
    transition: right 0.3s ease;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    padding: 8px 16px;
    margin-right: 1rem;
    text-align: center;
}

.sidebar ul li a {
    color: #575757;
    text-decoration: none;
    font-size: 18px;
}

.sidebar ul li a:hover {
    color: #5DB487;
}

.close-icon {
    font-size: 25px;
    cursor: pointer;
    color: #5db487;
    z-index: 9999;
}


.data-popup {
    z-index: 9999;
}


.prime {
    background-color: #4e9c74;
}

.prime:hover {
    background-color: #478f6b;
}